.card-section{
    border: 3px double #344C64;
    padding: 2px 10px 10px 10px;
    width: 250px;
    border-radius: 5px;
    background:#E8C5E5;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-top: 20px;

}

.product-1{
    width: 220px;
    padding: 5px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    
}

.pro-name{

    display: block;
}



.btn{
   padding: 5px 25px;
   border: none;
   color:#fff;
   font-weight: 700;
   border-radius: 10px;
   background: #003285;
   display: block;
   margin-top: 5px;
  

}

.star{
    height: 20px;
    
}

p{
    display: inline-block;
    padding: 2px;
}

.para{
    display: inline-block;
}